AppScanner requires the following python packages to be installed:

 appscanner==1.0.2
 matplotlib==3.8.2
 seaborn==0.13.2
 numpy==1.26.3
 pandas==1.5.0
 scapy==2.5.0
 scikit-learn==1.4.0
 openpyxl==3.1.2


After installing the appscanner library, replace the given codes burst, reader, and appscanner with their respective main codes.