FlowPrint requires the following python packages to be installed:

 flowprint==1.0.5
 matplotlib==3.8.0
 seaborn==0.13.0
 numpy==1.26.3
 pandas==1.5.0
 networkx==3.1
 scikit_learn==1.3.1
 openpyxl==3.1.2
 pyshark==0.6
 argformat==0.0.3
 cryptography==41.0.4


Tshark should be installed. When tshark is not installed, FlowPrint will give a warning message because it tries to use tshark as a backend by default. If tshark cannot be found it falls back on pyshark, which is a lot slower.

